<!DOCTYPE html>
<html>
<head>
  <title>Trang chủ</title>
  <link rel="icon" href="/icon.png" type="image/png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <img src="icon.png" class="logo" alt="Logo">
    <span style="font-size: 24px; font-weight: bold;">Nhóm 1_HL_IOT01</span>
</nav>
<style>
        body { font-family: Arial, sans-serif; text-align: center; margin-top: 50px; }
        button { padding: 10px 20px; font-size: 16px; margin: 10px; }
    </style>
<link rel="stylesheet" href="/css/style.css">

</head>
<body>

    <h2 class="mb-4">Giá trị cảm biến</h2>
    <div class="row">
      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img src="/temp.png" class="card-img-top" alt="Nhietdo">
            <div id="sensor-value">
              <h3 class="card-text">Nhiệt độ: <span id="temp"><%= sensorData.temp %></span>°C</h3>
            </div>
        </div>
      </div>

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img src="/humid.png" class="card-img-top" alt="do am">
            <h3 class="card-text">Độ ẩm: <span id="humi"><%= sensorData.humi %></span>%</h3>
        </div>
      </div>

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img src="/pressure.png" class="card-img-top" alt="Áp suất ">
            <h3 class="card-text">Áp suất: <span id="light"><%= sensorData.light %></span>Pa</h3>
        </div>
      </div>

      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img src="/doamdat.png" class="card-img-top" alt="do am dat">
            <h3 class="card-text">Độ ẩm đất: <span id="gas"><%= sensorData.gas %></span>%</h3>
        </div>
      </div>


      <h2 class="mb-4">Điều khiển</h2>
      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img src="/control.png" class="card-img-top" alt="điều khiển">
            <!-- Nút điều khiển motor -->
    <button onclick="controlMotor('MOTOR_ON')" class="btn btn-primary">Bật Motor</button>
    <button onclick="controlMotor('MOTOR_OFF')" class="btn btn-primary">Tắt Motor</button>
        </div>
      </div>
    </div>
<!-- JavaScript real-time -->
    <script src="/script.js"></script>

</body>
</html>


