<!DOCTYPE html>
<html>
<head>
  <title>Trang chủ</title>
  <link rel="icon" href="/qr1.png" type="image/png">
  
  <style>
    body { font-family: sans-serif; padding: 20px; }
    .product { border: 1px solid #ccc; padding: 15px; max-width: 400px; }
  </style>

<link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div>
    <h2 class="mb-4">Function</h2>
    <div class="row">
      <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <img src="/qr1.png" class="card-img-top" alt="ảnh minh họa">
            <p class="card-text">Lệnh 1</p>
           <button class="btn btn-primary">Điều khiển</button>
           <a>Truyền xuống raspi</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


